/****************************** VARIABLES ******************************/
/****************************** Mixins ******************************/
/****************************** Overall ******************************/
body {
  font-family: "proxima-nova", sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}
@media screen and (min-width: 600px) {
  body {
    font-size: 18px;
  }
}
@media screen and (min-width: 1200px) {
  body {
    font-size: 20px;
  }
}
@media screen and (min-width: 1500px) {
  body {
    font-size: 22px;
  }
}
* {
  box-sizing: inherit;
}
@media screen and (min-width: 1200px) {
  .row {
    display: flex;
    align-items: stretch;
  }
}
.content {
  margin: 0 auto;
  position: relative;
}
@media screen and (min-width: 600px) {
  .content {
    max-width: 600px;
  }
}
@media screen and (min-width: 900px) {
  .content {
    max-width: 900px;
  }
}
@media screen and (min-width: 1200px) {
  .content {
    max-width: 1200px;
  }
}
@media screen and (min-width: 1500px) {
  .content {
    max-width: 1500px;
  }
}
.btn--orange {
  display: inline-block;
  background: #a9a9a9;
  padding: 1rem 2rem;
  margin: 0 0 1.5rem 0;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 18px;
  background-color: #ff7d00;
}
.btn--orange:hover {
  background-color: #e17915;
}
.btn--orange-outline {
  display: inline-block;
  background: #a9a9a9;
  padding: 1rem 2rem;
  margin: 0 0 1.5rem 0;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 18px;
  background-color: transparent;
  border: solid 1px #ff7d00;
  color: #ff7d00;
  outline: none;
}
.btn--orange-outline:hover {
  background-color: rgba(255, 125, 0, 0.2);
}
.btn--orange-outline.off-state {
  border-color: #a9a9a9;
  color: #a9a9a9;
}
.btn--orange-outline.off-state:hover {
  background-color: rgba(169, 169, 169, 0.2);
}
.btn--blue {
  display: inline-block;
  background: #a9a9a9;
  padding: 1rem 2rem;
  margin: 0 0 1.5rem 0;
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  font-size: 18px;
  background-color: #1fbcff;
}
.btn--blue:hover {
  background-color: #0093d2;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
  margin: 0;
}
h1:not(:last-child),
h2:not(:last-child),
h3:not(:last-child),
h4:not(:last-child),
h5:not(:last-child),
h6:not(:last-child),
p:not(:last-child),
ul:not(:last-child),
ol:not(:last-child) {
  margin: 0 0 1.5rem 0;
}
.hidden {
  display: none;
}
header,
section {
  padding: 3rem 1.5rem;
}
@media screen and (min-width: 600px) {
  header,
  section {
    padding: 3rem ;
  }
}
@media screen and (min-width: 900px) {
  header,
  section {
    padding: 9rem 3rem ;
  }
}
nav {
  margin-bottom: 2rem;
}
@media screen and (min-width: 900px) {
  nav {
    position: absolute;
    width: 100%;
    top: 75px;
    max-height: 00px;
  }
}
nav a.logo {
  width: 12rem;
  display: block;
  float: left;
}
@media screen and (min-width: 600px) {
  nav a.logo {
    width: 20rem;
    margin-bottom: 1rem;
    margin-top: 3em;
  }
}
@media screen and (min-width: 600px) {
  nav a.logo {
    margin-bottom: 1rem;
  }
}
nav a.logo img {
  width: 100%;
}
nav ul {
  list-style: none;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;
  padding-top: 0px;
  background: #fff;
  max-height: 0;
  transition: 0.3s;
  overflow: hidden;
}
.open nav ul {
  max-height: 600px;
  padding-top: 50px;
}
@media screen and (min-width: 900px) {
  nav ul {
    max-height: 600px;
    background: transparent;
    position: absolute;
    top: -75px;
    right: 0;
    text-align: right;
  }
}
nav li {
  display: inline;
}
nav li a {
  color: #ff7d00;
  text-decoration: none;
  display: block;
  border-bottom: solid 1px #ff7d00;
  line-height: 50px;
  text-align: center;
}
@media screen and (min-width: 900px) {
  nav li a {
    color: #a9a9a9;
    border: none;
    display: inline-block;
    line-height: 100px;
    padding: 0 1.5em;
    font-size: 16px;
  }
  nav li a:hover {
    color: #333;
  }
}
nav button {
  display: inline-block;
  background: #fff;
  position: fixed;
  top: 12px;
  right: 12px;
  z-index: 4;
  font-size: 14px;
  padding: .5em 1em;
  border-width: 0px;
  width: 36px;
  height: 36px;
  transition: 0.3s;
  outline: 0;
}
nav button::before {
  content: "";
  width: 24px;
  position: absolute;
  top: 11px;
  left: 6px;
  border-top: solid 3px #a9a9a9;
  transition: 0.3s;
}
.open nav button::before {
  transform: rotatez(45deg) translate(4px, 4px);
}
nav button::after {
  content: "";
  width: 24px;
  position: absolute;
  bottom: 11px;
  left: 6px;
  border-top: solid 3px #a9a9a9;
  transition: 0.3s;
}
.open nav button::after {
  transform: rotatez(-45deg) translate(4px, -4px);
}
@media screen and (min-width: 900px) {
  nav button {
    display: none;
  }
}
@media screen and (min-width: 900px) {
  nav.affix {
    position: fixed;
    z-index: 100;
    background: rgba(255, 255, 255, 0.9);
    top: 0;
    left: 0;
    max-height: 50px;
  }
  nav.affix:before,
  nav.affix:after {
    content: " ";
    display: table;
  }
  nav.affix:after {
    clear: both;
  }
  nav.affix a.logo {
    width: 11rem;
    margin: 14px 0;
  }
  nav.affix ul {
    margin: 0;
    top: 0;
  }
  nav.affix ul a {
    line-height: 50px;
  }
}
header {
  background: #ff7d00 50% no-repeat;
  background-size: cover;
  background-image: url(../../images/header-background-sm.jpg);
}
@media screen and (min-width: 900px) {
  header {
    padding-top: 19rem;
    background-image: url(../../images/header-background.jpg);
  }
}
header:before,
header:after {
  content: " ";
  display: table;
}
header:after {
  clear: both;
}
header h1 {
  font-weight: 200;
  color: #ff7d00;
  font-size: 2em;
}
@media screen and (min-width: 600px) {
  header h1 {
    max-width: 30rem;
    font-size: 2.5em;
  }
}
@media screen and (min-width: 600px) {
  header h1 {
    max-width: 60rem;
  }
}
@media screen and (min-width: 1200px) {
  header h1 {
    font-size: 3em;
  }
}
header h3 {
  font-weight: 200;
  color: #a9a9a9;
  font-size: 14px;
  text-transform: uppercase;
}
@media screen and (min-width: 600px) {
  header h3 {
    margin: 2em 0 !important;
    font-size: 18px;
  }
}
@media screen and (min-width: 900px) {
  header h3 {
    margin: 3em 0 !important;
  }
}
@media screen and (min-width: 600px) {
  header .btn--orange {
    float: left;
  }
}
header .bullet-breaker {
  display: block;
}
@media screen and (min-width: 600px) {
  header .bullet-breaker {
    display: inline;
  }
  header .bullet-breaker::before {
    content: "•";
    margin: 0 .5em;
  }
}
header .social {
  margin: 0 0 1.5rem 0;
}
@media screen and (min-width: 600px) {
  header .social {
    float: left;
    margin-left: 3rem;
  }
}
header .social .icon {
  display: inline-block;
  margin-right: 1em;
  width: 2em;
}
header .social .icon img {
  opacity: 0.8;
}
header .social .icon img:hover {
  opacity: 1;
}
header .sponsor {
  color: #7f7f7f;
  font-size: 14px;
  margin-left: 3em;
  float: left;
}
header .sponsor img {
  width: 220px;
  vertical-align: middle;
  margin-left: 1em;
}
section.speakers {
  padding: 0;
}
section.speakers:before,
section.speakers:after {
  content: " ";
  display: table;
}
section.speakers:after {
  clear: both;
}
section.speakers .speaker {
  position: relative;
  float: left;
  width: 100%;
}
@media screen and (min-width: 600px) {
  section.speakers .speaker {
    width: 50%;
  }
}
@media screen and (min-width: 900px) {
  section.speakers .speaker {
    width: 25%;
  }
}
@media screen and (min-width: 1500px) {
  section.speakers .speaker {
    width: 20%;
  }
}
section.speakers .speaker img {
  display: block;
  width: 100%;
  height: auto;
}
section.speakers .speaker .speaker-info {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-size: 100% 100%;
}
@media screen and (min-width: 900px) {
  section.speakers .speaker .speaker-info {
    overflow: hidden;
    transition: 0.3s ease;
  }
}
section.speakers .speaker .speaker-info.primary h3 {
  background: #ff7d00;
}
section.speakers .speaker .speaker-info.primary h4 {
  background-color: rgba(255, 125, 0, 0.7);
}
section.speakers .speaker .speaker-info.secondary h3 {
  background: #006f9e;
}
section.speakers .speaker .speaker-info.secondary h4 {
  background-color: rgba(0, 111, 158, 0.7);
}
section.speakers .speaker .speaker-info.tertiary h3 {
  background: #653789;
}
section.speakers .speaker .speaker-info.tertiary h4 {
  background-color: rgba(101, 55, 137, 0.7);
}
section.speakers .speaker h3 {
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  margin: 0;
  padding: 5px 20px;
}
section.speakers .speaker h4 {
  font-size: 14px;
  color: #fff;
  font-weight: 300;
  margin: 0;
  padding: 5px 20px;
  height: 50px;
}
section.about {
  background: #ff7d00 50% no-repeat;
  background-size: cover;
  background-image: url(../../images/bg-about.jpg);
  color: #fff;
  text-align: center;
}
section.about .content {
  margin: 0 auto;
}
@media screen and (min-width: 600px) {
  section.about .content {
    max-width: 600px;
  }
}
@media screen and (min-width: 900px) {
  section.about .content {
    max-width: 900px;
  }
}
section.about .logo-icon {
  width: 50px;
  display: block;
  margin: 1.5rem auto;
  opacity: 0.7;
}
section.about h2 {
  font-family: "superclarendon";
  font-weight: 700;
  font-style: italic;
  font-size: 1em;
}
section.about h1 {
  font-size: 3em;
  font-weight: 700;
}
section.about h1 .plus {
  margin: 0 0.5em;
}
section.about ul {
  padding: 0 0 1.5rem;
  border-bottom: solid 1px rgba(255, 255, 255, 0.6);
}
@media screen and (min-width: 900px) {
  section.about ul {
    padding: 0 2.5rem 3rem;
    margin: 0 auto 3rem;
    max-width: 780px;
  }
}
@media screen and (min-width: 900px) {
  section.about ul {
    padding: 0 2rem 4rem;
    margin-bottom: 4rem;
  }
}
section.about ul li {
  display: inline;
  opacity: 0.6;
  font-weight: 500;
  line-height: 2em;
  font-size: 18px;
}
section.about ul li:not(:first-child):before {
  content: "•";
  margin-right: 0.5em;
}
section.about p {
  font-weight: 300;
  line-height: 1.3em;
}
@media screen and (min-width: 600px) {
  section.about p {
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 900px) {
  section.about p {
    max-width: 500px;
    font-weight: 200;
    line-height: 1.5em;
    margin: 2em auto;
    font-size: 18px;
  }
}
section.location {
  background: #ff7d00 50% no-repeat;
  background-size: cover;
  background-image: url(../../images/location-background-sm.jpg);
  background-attachment: initial;
  padding-top: 3rem;
  padding-bottom: 3rem;
  text-align: center;
  color: #fff;
}
@media screen and (min-width: 600px) {
  section.location {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
@media screen and (min-width: 900px) {
  section.location {
    font-size: 24px;
    background-image: url(../../images/location-background.jpg);
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
}
@media screen and (min-width: 900px) {
  section.location {
    font-size: 30px;
    padding-top: 18rem;
    padding-bottom: 18rem;
  }
}
section.location .content > span {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
section.location .year {
  font-family: "superclarendon";
  font-weight: 900;
  color: rgba(255, 125, 0, 0.8);
  font-size: 7em;
  margin-bottom: 0.25rem;
  line-height: .7em;
}
section.location .date {
  font-weight: 400;
  font-size: 4.25em;
  text-transform: uppercase;
  margin-bottom: 0.45rem;
  line-height: .8em;
}
section.location .tagline {
  font-weight: 200;
  font-size: 1.55em;
  text-transform: uppercase;
  margin-bottom: 0.35rem;
}
section.location .place {
  font-family: "superclarendon";
  font-weight: 700;
  font-style: italic;
  color: #0093d2;
  font-size: 1.04em;
  margin-bottom: 0.55rem;
}
section.highlights {
  text-align: center;
  background-image: url(../../images/bg-highlights.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
section.highlights .logo {
  max-width: 350px;
  display: block;
  margin: 0 auto;
}
section.highlights .play {
  width: 135px;
  display: block;
  margin: 80px auto;
}
section.highlights h1 {
  font-size: 2em;
  color: #ff7d00;
  font-weight: 200;
}
section.highlights .video {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  width: 100%;
  margin: 0 auto;
}
section.highlights iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}
section.tickets {
  background: #ff7d00 50% no-repeat;
  background-size: cover;
  background-image: url(../../images/bg-tickets.jpg);
  text-align: center;
}
section.tickets .content {
  max-width: 1100px;
}
section.tickets h2 {
  font-size: 2em;
  line-height: 1.4;
  color: #fff;
  font-weight: 200;
}
@media screen and (min-width: 900px) {
  section.tickets h2 {
    padding: 0 3rem 3rem ;
  }
}
section.tickets h3 {
  font-family: "superclarendon";
  font-style: italic;
  font-weight: 700;
  color: #fff;
  line-height: 1.4;
  margin-bottom: 3em;
}
section.tickets .reserve-tickets {
  background: white;
  padding: 24px 24px 0;
  max-width: 470px;
  margin: 0 auto;
}
section.founders {
  background: url(../../images/founders-background-sm.jpg) 50% no-repeat;
  text-align: center;
  padding-top: 86px;
  padding-bottom: 86px;
  background-size: cover;
}
@media screen and (min-width: 1200px) {
  section.founders {
    width: 50%;
    flex: 1;
  }
}
section.founders h2 {
  font-size: 2em;
  line-height: 1.4;
  color: #fff;
  font-weight: 200;
}
@media screen and (min-width: 900px) {
  section.founders h2 {
    padding: 3rem ;
  }
}
section.founders h3 {
  font-family: "superclarendon";
  font-style: italic;
  font-weight: 700;
  color: #fff;
  line-height: 1.4;
}
section.map {
  background: url(../../images/map-background-sm.jpg) 50% no-repeat;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 8rem;
}
@media screen and (min-width: 600px) {
  section.map {
    background: url(../../images/map-background.jpg) 50% 30% no-repeat;
    background-size: cover;
  }
}
@media screen and (min-width: 600px) {
  section.map {
    padding-top: 3rem;
    padding-bottom: 13rem;
  }
}
@media screen and (min-width: 1200px) {
  section.map {
    width: 50%;
    flex: 1;
  }
}
section.map .map-box {
  background-color: rgba(255, 125, 0, 0.8);
  width: 20rem;
  margin: 0 auto;
  color: #fff;
  padding: 2em;
  position: relative;
}
@media screen and (min-width: 600px) {
  section.map .map-box {
    width: 30rem;
  }
}
section.map .map-box::after {
  content: "";
  width: 0;
  height: 0;
  border-left: 1rem solid transparent;
  border-right: 1rem solid transparent;
  border-top: 1rem solid rgba(255, 125, 0, 0.8);
  position: absolute;
  bottom: -1rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
section.map h1 {
  font-size: 1.3em;
  font-weight: 700;
  margin-bottom: 12px;
}
section.map p {
  font-weight: 300;
}
section.features {
  text-align: center;
}
section.features h3 {
  font-size: 2.5em;
  font-weight: 200;
  color: #a9a9a9;
}
section.features h3 .number {
  color: #ff7d00;
}
section.schedule {
  background-color: #f7f7f7;
  text-align: center;
}
section.schedule h1 {
  font-size: 2em;
  color: #ff7d00;
  font-weight: 200;
}
section.schedule .day {
  font-size: .6em;
  display: block;
  text-transform: uppercase;
  font-weight: 100;
  margin-top: 5px;
}
section.schedule button {
  text-transform: capitalize;
}
section.schedule button:not(:last-child) {
  margin-right: 2rem;
}
section.schedule .time-secondary {
  padding: 1rem 0 0;
  font-size: 1em;
}
section.schedule .time-secondary .time {
  color: #a9a9a9;
  margin-bottom: .3rem;
  font-weight: 400;
}
section.schedule .time-secondary .event {
  margin-bottom: 1rem;
  font-weight: 200;
}
section.schedule .time-primary {
  font-size: 1em;
  padding: 1rem 0 0;
}
section.schedule .time-primary .time {
  color: #333;
  margin-bottom: .3rem;
  font-weight: 700;
}
section.schedule .time-primary .event {
  margin-bottom: 1rem;
  color: #333;
  font-weight: 700;
}
@media screen and (min-width: 900px) {
  section.schedule div:before,
  section.schedule div:after {
    content: " ";
    display: table;
  }
  section.schedule div:after {
    clear: both;
  }
  section.schedule .time-primary,
  section.schedule .time-secondary {
    font-size: 0.8em;
    margin: 0;
    padding: 0;
  }
  section.schedule p {
    display: inline-block;
  }
  section.schedule .time.time {
    width: 45%;
    float: left;
    text-align: right;
    font-size: 0.7em;
    padding: 0 38px;
    margin: 0;
    line-height: 3rem;
    margin-right: -0.5em;
    border-right: solid 2px #a9a9a9;
  }
  section.schedule .event.event {
    width: 55%;
    float: right;
    text-align: left;
    padding: 0 38px;
    margin: 0;
    line-height: 3rem;
    position: relative;
  }
  section.schedule .event.event:before {
    content: "";
    height: .666em;
    width: .666em;
    border-radius: 1em;
    background-color: #a9a9a9;
    display: block;
    position: absolute;
    left: -0.366em;
    top: 40%;
  }
  section.schedule .schedule-day > *:last-child .time.time {
    line-height: 1.5rem;
    padding-top: 1.5rem;
    line-height: 0;
  }
  section.schedule .schedule-day > *:first-child .time.time {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
    line-height: 0;
  }
  section.schedule .time-primary .event.primary:before {
    background-color: #ff7d00;
  }
  section.schedule .time-primary .event.secondary:before {
    background-color: #1fbcff;
  }
  section.schedule .time-primary .event.tertiary:before {
    background-color: #653789;
  }
}
section.sponsors {
  text-align: center;
}
section.sponsors .content {
  max-width: 1200px;
}
section.sponsors h1 {
  font-size: 2em;
  color: #ff7d00;
  font-weight: 200;
}
section.sponsors a {
  margin: 30px 40px;
  display: inline-block;
}
section.sponsors img {
  width: 150px;
}
section.sponsors h2 {
  font-family: "superclarendon";
  font-weight: 600;
  color: #7f7f7f;
  font-style: italic;
  font-size: 1em;
  margin-top: 150px;
}
section.sponsors p {
  font-size: .8em;
  color: #7f7f7f;
}
footer {
  text-align: center;
  margin-bottom: 6rem;
}
footer h2 {
  font-family: "superclarendon";
  font-size: 12px;
  color: #a9a9a9;
  font-weight: 200;
  font-style: italic;
}
footer img {
  max-width: 160px;
  margin-bottom: 48px;
}
footer p {
  color: #a9a9a9;
  margin-bottom: .5em;
  font-size: 16px;
}
footer a {
  text-decoration: none;
  color: inherit;
}
footer a:hover {
  border-bottom: solid 1px #a9a9a9;
}
footer .dash-breaker {
  display: block;
}
@media screen and (min-width: 600px) {
  footer .dash-breaker {
    display: inline;
  }
  footer .dash-breaker::before {
    content: "/";
    margin: 0em;
  }
}
